body {
	font-family: 'Optima' !important;
	background-color: #E1E1E1;
}
.testBorder {
	border: 2px solid blue;
}

@media (max-width: 1440px) {

	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Cover page */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.container-fluid {
		padding: 0;
	}

	.main {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}

	.main-bg {
		background-image: url("../images/family-mountains2.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: bottom;
	    height: 100%;
	    z-index: -100;
	    /*filter: brightness(1.25);*/
	    filter: opacity(0.8);
	    filter: grayscale(20%);
	}

	.main .logo {
		background-color: rgba(255, 255, 255, 0.6);
		position: absolute;
		z-index: 100;
		width: 70%;
		display: none;
		top: 0;
		border-radius: 7px;
		margin-top: 80px;
		margin-left: 50px;
		padding-top: 50px;
		padding-left: 50px;
		height: 60%;
		overflow: hidden;
		border: 1px solid black;
	}

	.main .logo img {
		width: 60%;
		min-width: 50%;
	}
	.main .logo h1 {
		font-size: 2rem;
		padding-top: 20px;
		padding-bottom: 25px;
	}


	.main .logo a {
		letter-spacing: 0.8px;
		padding: 10px 20px 10px 20px;
		border: 2px solid black;
		border-radius: 4px;
		text-decoration: none;
		color: black;
		-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
	    transition: all 1s;
	    background-color: rgba(255, 255, 255, 0.3);
	 	margin-right: 60px;
	}

	.main .logo a:hover {
		background-color: black;
		color: white;
	}

	.main .mission {
		position: absolute;
		top: 80vh;
		background-color: rgba(255, 255, 255, 0.50);
		margin: 0 125px 0 125px;
		padding: 10px;
		border-radius: 2px;
	}

	#people {
		width: 600px;
		display: inline-block;
		text-align: left;
	}

	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Content */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

	.content .content-information {
		padding-left: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
		width: 50%;
	}

	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Content */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.heartwatch {
		width: 100vw;
		height: 80vh;
	}

	.heartwatch h1 {
		text-align: center;
	}

	.heartwatch h4 {
		text-align: center;
		padding-bottom: 20px;
	}

	.heartwatch .heartwatch-information {
		width: 50%;
		float: left;
		padding-left: 50px;
		height: 100%;
		padding-right: 20px;
	}

	.heartwatch .heartwatch-information div {
		width: 100%;
		height: 33%;
		padding-top: 20px;
	}

	.heartwatch .heartwatch-information div div {
		width: 33%;
		height: 100%;
		float: left;
		text-align: center;
	}

	.heartwatch .heartwatch-graphic{
		background-image: url(../images/heartwatch-reading.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		bottom: 0;
		overflow: hidden;
		right: 0;
		border-radius: 6px;
		width: 50%;
		height: 100%;
	}

	.heartwatch .heartwatch-graphic img {
		position: absolute;
		width: 100%;
	}


}

@media (max-width: 1280px) {

	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Cover page */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.container-fluid {
		padding: 0;
	}

	.main {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}

	.main-bg {
		background-image: url("../images/family-mountains2.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: bottom;
	    height: 100%;
	    z-index: -100;
	    /*filter: brightness(1.25);*/
	    filter: opacity(0.8);
	    filter: grayscale(20%);
	}

	.main .logo {
		background-color: rgba(255, 255, 255, 0.6);
		position: absolute;
		z-index: 100;
		width: 70%;
		display: none;
		top: 0;
		border-radius: 7px;
		margin-top: 80px;
		margin-left: 50px;
		margin-right: 50px;
		padding-top: 30px;
		padding-left: 30px;
		height: 60%;
		overflow: hidden;
		border: 1px solid black;
	}

	.main .logo img {
		width: 50%;
		min-width: 50%;
	}
	.main .logo h1 {
		font-size: 1.7rem;
		padding-top: 10px;
		padding-bottom: 25px;
	}


	.main .logo a {
		letter-spacing: 0.8px;
		padding: 10px 20px 10px 20px;
		border: 2px solid black;
		border-radius: 4px;
		text-decoration: none;
		color: black;
		-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
	    transition: all 1s;
	    background-color: rgba(255, 255, 255, 0.3);
	 	margin-right: 60px;
	}

	.main .logo a:hover {
		background-color: black;
		color: white;
	}

	.main .mission {
		position: absolute;
		top: 80vh;
		background-color: rgba(255, 255, 255, 0.50);
		margin: 0 125px 0 125px;
		padding: 10px;
		border-radius: 2px;
	}

	#people {
		width: 600px;
		display: inline-block;
		text-align: left;
	}

}