html, body {
	font-family: 'Optima' !important;
	background-color: #E1E1E1;
	box-sizing: border-box !important;
}
.testBorder {
	border: 2px solid blue;
}

h1 {
	letter-spacing: 1px;
}

i {
	-webkit-text-stroke: 2px #E1E1E1;
}

.feature i {
	-webkit-text-stroke: 2px #CDCDCD;
}

@media (max-width: 1440px) {
	html, body {
	font-family: 'Optima' !important;
	background-color: #E1E1E1;
	box-sizing: border-box;
	}

	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Cover page */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.container-fluid {
		padding: 0;
	}

	.main {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}

	.main-bg {
		background-image: url("../images/family-outdoors2.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: bottom;
	    height: 100%;
	    z-index: -100;
	    /*filter: brightness(1.25);*/
	    filter: opacity(0.8);
	    filter: grayscale(20%);
	}

	video {
		width: 100%;
	}

	.main .logo {
		background-color: rgba(255, 255, 255, 0.6);
		position: absolute;
		z-index: 100;
		width: 70%;
		display: none;
		top: 0;
		border-radius: 7px;
		margin-top: 80px;
		margin-left: 50px;
		padding-top: 50px;
		padding-left: 50px;
		height: 450px;
		overflow: hidden;
		border: 1px solid black;
	}

	.main .logo img {
		width: 60%;
		min-width: 50%;
	}
	.main .logo h1 {
		font-size: 2rem;
		padding-top: 20px;
		padding-bottom: 25px;
	}


	.main .logo a {
		letter-spacing: 0.8px;
		padding: 10px 20px 10px 20px;
		border: 1px solid black;
		border-radius: 4px;
		text-decoration: none;
		color: black;
		-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
	    transition: all 1s;
	    background-color: rgba(255, 255, 255, 0.3);
	 	margin-right: 60px;
	}

	.main .logo a:hover {
		background-color: black;
		color: white;
	}

	.main .mission {
		position: absolute;
		top: 80vh;
		background-color: rgba(255, 255, 255, 0.50);
		margin: 0 125px 0 125px;
		padding: 10px;
		border-radius: 2px;
	}

	#people {
		width: 600px;
		display: inline-block;
		text-align: left;
	}

	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* About Us */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.about-us {
	    background-image: url("../images/family-beach2.jpg");
	    height: 500px; 
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    filter: opacity(70%);
	    text-align: left;
	    position: relative;
	    box-shadow: inset 0 0 0 1000px rgba(248, 247, 216, 0.8);
	    padding: 50px;
	}

	.about-us .about-us-content {
		font-size: 20px;
		color: black;
		z-index: 100;
	}

	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Content */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.content {
		position: relative;
		width: 100vw;
	}

	.content .content-information {
		padding-left: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
		width: 45%;
	}

	.content .content-graphic {
		position: absolute;
		width: 45%;
		right: 50px;
		top: 25%;
		overflow: hidden;
	}

	.content .content-graphic img {
		width: 100%;
	}

	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* For (who) */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.for {
		padding: 20px 0 50px 0;
		opacity: 1;
		position: relative;
	}

	.for-individual {
		padding-top: 30px;
		padding-bottom: 30px;
		border: 1px solid black;
		border-radius: 8px;
		width: 20%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		opacity: 1;
		-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
	    transition: all 1s;
	    height: 150px;
	}

	.for-individual-selected {
		padding-top: 35px;
		padding-bottom: 30px;
		border: 1px solid black;
		margin-bottom: 10px;
		margin-top: 10px;
		border-radius: 8px;
		width: 20%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		opacity: 1;
	/*	background-color: black;*/
		/*color: white;*/
		height: 150px;
	}


	.for-healthexec, .for-phys, .for-care, .for-patients {
		position: absolute;
		padding: 20px 20px 20px 20px;
		top: -100%;
		width: 100%;
		height: 100%;
		background-color: white;
		border-radius: 6px;
		border: 1px solid black;
		opacity: 0;
		-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
	    transition: all 1s;
	}


	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Heart Watch */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.heartwatch {
		position: relative;
		width: 100vw;
		height: 100vh;
		background-color: #CDCDCD;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.heartwatch .heartwatch-header {
		text-align: center;
		padding-bottom: 20px;
		height: 20%;
	}

	.heartwatch .heartwatch-information {
		width: 50%;
		padding-left: 50px;
		height: 80%;
		float: right;
	}

	.heartwatch .heartwatch-information div {
		width: 100%;
		height: 33.3%;
		padding-top: 20px;
	}

	.heartwatch .heartwatch-information div div {
		width: 33.3%;
		height: 100%;
		float: left;
		text-align: center;
	}

	.heartwatch .heartwatch-graphic{
		background-image: url(../images/heartwatch-reading.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		bottom: 0;
		overflow: hidden;
		border-radius: 6px;
		width: 50%;
		height: 80%;
		border: 1px solid black;
	}

	.heartwatch .heartwatch-content {

	}
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Partners */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.partners {
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
	}

	.partners .partners-header {
		padding-bottom: 20px;
	}
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Join */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.join {
		width: 100vw;
		height: 100vh;
		position: relative;
	}

	.join .join-bg {
		background-image: url(../images/family-beach.jpg);
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	height: 100%;
    	z-index: -100;
	}

	.join .join-content {
		position: absolute;
		top: 10%;
		left: 12%;
		z-index: 100;
		width: 40%;
	}

	.join .hs-form .hbspt-form {
		position: absolute;
		bottom: 8%;
		left: 12%;
		width: 500px;

	}

	input {
		background-color: rgba(255, 255, 255, 0.90);
	}
}






/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */
/* %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%  */








@media (max-width: 1280px) {
	html, body {
		font-family: 'Optima' !important;
		background-color: #E1E1E1;
		box-sizing: border-box !important;
	}
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Cover page */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.container-fluid {
		padding: 0;
	}

	.main {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}

	.main-bg {
		background-image: url("../images/family-mountains2.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: bottom;
	    height: 100%;
	    z-index: -100;
	    /*filter: brightness(1.25);*/
	    filter: opacity(0.8);
	    filter: grayscale(20%);
	}

	.main .logo {
		background-color: rgba(255, 255, 255, 0.6);
		position: absolute;
		z-index: 100;
		width: 70%;
		display: none;
		top: 0;
		border-radius: 7px;
		margin-top: 80px;
		margin-left: 50px;
		margin-right: 50px;
		padding-top: 30px;
		padding-left: 30px;
		height: 375px;
		overflow: hidden;
		border: 1px solid black;
	}

	.main .logo img {
		width: 50%;
		min-width: 50%;
	}
	.main .logo h1 {
		font-size: 1.7rem;
		padding-top: 10px;
		padding-bottom: 25px;
	}


	.main .logo a {
		letter-spacing: 0.8px;
		padding: 10px 20px 10px 20px;
		border: 2px solid black;
		border-radius: 4px;
		text-decoration: none;
		color: black;
		-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
	    transition: all 1s;
	    background-color: rgba(255, 255, 255, 0.3);
	 	margin-right: 60px;
	}

	.main .logo a:hover {
		background-color: black;
		color: white;
	}

	.main .mission {
		position: absolute;
		top: 80vh;
		background-color: rgba(255, 255, 255, 0.50);
		margin: 0 125px 0 125px;
		padding: 10px;
		border-radius: 2px;
	}

	#people {
		width: 600px;
		display: inline-block;
		text-align: left;
	}
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Content */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.content {
		position: relative;
		width: 100vw;
	}

	.content .content-information {
		padding-left: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
		width: 45%;
	}

	.content .content-graphic {
		position: absolute;
		width: 45%;
		right: 50px;
		top: 25%;
		overflow: hidden;
	}

	.content .content-graphic img {
		width: 100%;
	}

	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Heart Watch */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.heartwatch {
		position: relative;
		width: 100vw;
		height: 100vh;
		background-color: #CDCDCD;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.heartwatch .heartwatch-header {
		text-align: center;
		padding-bottom: 20px;
		height: 25%;
	}

	.heartwatch .heartwatch-information {
		width: 50%;
		padding-left: 50px;
		height: 75%;
		float: right;
	}

	.heartwatch .heartwatch-information div {
		width: 100%;
		height: 33.3%;
		padding-top: 10px;
	}

	.heartwatch .heartwatch-information div div {
		width: 33.3%;
		height: 100%;
		float: left;
		text-align: center;
	}

	.heartwatch .heartwatch-information div div i {
		font-size: 3em;
	}

	.heartwatch .heartwatch-graphic{
		background-image: url(../images/heartwatch-reading.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		bottom: 0;
		overflow: hidden;
		border-radius: 6px;
		width: 50%;
		height: 75%;
		border: 1px solid black;
	}
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Partners */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.partners {
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
	}

	.partners .partners-header {
		padding-bottom: 20px;
	}
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Join */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.join {
		width: 100vw;
		height: 100vh;
		position: relative;
	}

	.join .join-bg {
		background-image: url(../images/family-beach.jpg);
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	height: 100%;
    	z-index: -100;
	}

	.join .join-content {
		position: absolute;
		top: 20%;
		left: 12%;
		z-index: 100;
		width: 40%;
	}
}






@media (max-width: 1190px) {
	html, body {
		font-family: 'Optima' !important;
		background-color: #E1E1E1;
		box-sizing: border-box !important;
	}
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Cover page */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.container-fluid {
		padding: 0;
	}

	.main {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}

	.main-bg {
		background-image: url("../images/family-mountains2.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: bottom;
	    height: 100%;
	    z-index: -100;
	    /*filter: brightness(1.25);*/
	    filter: opacity(0.8);
	    filter: grayscale(20%);
	}

	.main .logo {
		background-color: rgba(255, 255, 255, 0.6);
		position: absolute;
		z-index: 100;
		width: 70%;
		display: none;
		top: 0;
		border-radius: 7px;
		margin-top: 80px;
		margin-left: 50px;
		margin-right: 50px;
		padding-top: 30px;
		padding-left: 30px;
		height: 375px;
		overflow: hidden;
		border: 1px solid black;
	}

	.main .logo img {
		width: 50%;
		min-width: 50%;
	}
	.main .logo h1 {
		font-size: 1.7rem;
		padding-top: 10px;
		padding-bottom: 25px;
	}


	.main .logo a {
		letter-spacing: 0.8px;
		padding: 10px 20px 10px 20px;
		border: 2px solid black;
		border-radius: 4px;
		text-decoration: none;
		color: black;
		-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
	    transition: all 1s;
	    background-color: rgba(255, 255, 255, 0.3);
	 	margin-right: 60px;
	}

	.main .logo a:hover {
		background-color: black;
		color: white;
	}

	.main .mission {
		position: absolute;
		top: 80vh;
		background-color: rgba(255, 255, 255, 0.50);
		margin: 0 125px 0 125px;
		padding: 10px;
		border-radius: 2px;
	}

	#people {
		width: 600px;
		display: inline-block;
		text-align: left;
	}
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	/* Content */
	/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
	.content {
		width: 100vw;
	}

	.content .content-information {
		padding-left: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-right: 50px;
		width: 100%;
	}

	.content .content-graphic {
		display: none;
	}

/*	.content-graphic img {
		width: 100%;
	}*/
}
